<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.dosbox">
		<category id="general" label="128">
			<group id="1">
				<setting id="dosbox_use_options" type="string" label="30001">
					<level>0</level>
					<default>true</default>
					<constraints>
						<options>
							<option>true</option>
							<option>false</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_adv_options" type="string" label="30002">
					<level>0</level>
					<default>false</default>
					<constraints>
						<options>
							<option>false</option>
							<option>true</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_machine_type" type="string" label="30003">
					<level>0</level>
					<default>svga_s3</default>
					<constraints>
						<options>
							<option>svga_s3</option>
							<option>svga_et3000</option>
							<option>svga_et4000</option>
							<option>svga_paradise</option>
							<option>vesa_nolfb</option>
							<option>vesa_oldvbe</option>
							<option>hercules</option>
							<option>cga</option>
							<option>tandy</option>
							<option>pcjr</option>
							<option>ega</option>
							<option>vgaonly</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_scaler" type="string" label="30004">
					<level>0</level>
					<default>none</default>
					<constraints>
						<options>
							<option>none</option>
							<option>normal2x</option>
							<option>normal3x</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_emulated_mouse" type="string" label="30005">
					<level>0</level>
					<default>enable</default>
					<constraints>
						<options>
							<option>enable</option>
							<option>disable</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_emulated_mouse_deadzone" type="string" label="30006">
					<level>0</level>
					<default>5%</default>
					<constraints>
						<options>
							<option>5%</option>
							<option>10%</option>
							<option>15%</option>
							<option>20%</option>
							<option>25%</option>
							<option>30%</option>
							<option>0%</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_cpu_core" type="string" label="30007">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option>auto</option>
							<option>normal</option>
							<option>simple</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_cpu_type" type="string" label="30008">
					<level>0</level>
					<default>auto</default>
					<constraints>
						<options>
							<option>auto</option>
							<option>386</option>
							<option>386_slow</option>
							<option>486</option>
							<option>486_slow</option>
							<option>pentium_slow</option>
							<option>386_prefetch</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_cpu_cycles_mode" type="string" label="30009">
					<level>0</level>
					<default>fixed</default>
					<constraints>
						<options>
							<option>fixed</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_cpu_cycles_multiplier" type="string" label="30010">
					<level>0</level>
					<default>1000</default>
					<constraints>
						<options>
							<option>1000</option>
							<option>10000</option>
							<option>100000</option>
							<option>100</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_cpu_cycles" type="string" label="30011">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_sblaster_type" type="string" label="30012">
					<level>0</level>
					<default>sb16</default>
					<constraints>
						<options>
							<option>sb16</option>
							<option>sb1</option>
							<option>sb2</option>
							<option>sbpro1</option>
							<option>sbpro2</option>
							<option>gb</option>
							<option>none</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="dosbox_pcspeaker" type="string" label="30013">
					<level>0</level>
					<default>false</default>
					<constraints>
						<options>
							<option>false</option>
							<option>true</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
